<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <title>MyDMS</title>
    <link rel="stylesheet" type="text/css" media="all"
          href="../../lib/css/bootstrap.min.css" th:href="@{~/lib/css/bootstrap.min.css}"/>
    <style>
      .v-center {
        display: flex;
        align-items: center;
      }
    </style>
  </head>
  <body>

  <!--BEGIN NAV-->
  <div th:replace="fragments/header :: header">&nbsp;</div>
  <!--END NAV-->

    <div class="container" style="max-width: 100%;">
      <div class="row">
        <div class="col-xl-9 d-flex align-items-stretch" style="padding-top: 2em">
          <div class="card" style="width: 100%">
            <div class="card-header">
              <ul class="nav nav-pills card-header-pills">
                <li class="nav-item">
                  <a class="nav-link active" th:disabled="${isNew} == true" th:href="@{/web/document/download/} + ${document.id}">Download</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true" th:text="${document.type?.name}"></a>
                </li>
              </ul>
            </div>
            <div class="card-body">
              <div th:if="${message != null}" th:utext="${message}" class="alert alert-success" role="alert">
              </div>
              <div th:if="${error != null}" th:utext="${error}" class="alert alert-danger" role="alert">
              </div>
              <form th:action="@{/web/document/update/} + ${document.id}" enctype="multipart/form-data" th:object="${document}" th:method="POST">
                <div class="form-row">
                  <div class="col-lg-4 mb-3">
                    <label for="number">Number</label>
                    <input type="text" class="form-control" id="number" th:value="*{number}" disabled>
                  </div>
                  <div class="col-lg-4 mb-3">
                      <label for="type">Type</label>
                      <select class="custom-select" id="type" name="type" th:disabled="${isNew} == false">
                          <option selected>Choose...</option>
                          <th:block th:each="type : ${types}">
                          <option th:value="${type.short_name}" th:selected="*{type?.name} == ${type.name}" th:text="${type.name}"></option>
                          </th:block>
                      </select>
                  </div>
                  <div class="col-lg-4 mb-3">
                      <label for="sender">Sender</label>
                      <select class="custom-select" id="sender" name="sender" th:disabled="${isNew} == false">
                          <option selected>Choose...</option>
                          <th:block th:each="sender : ${senders}">
                              <option th:value="${sender.id}" th:selected="*{sender?.id} == ${sender.id}" th:text="${sender.name}"></option>
                          </th:block>
                      </select>
                  </div>
                </div>
                <div class="form-row">
                  <div class="col-lg-9 mb-3">
                    <label for="title">Title</label>
                    <input type="text" class="form-control " id="title" name="title" placeholder="Title" th:value="*{title}" required>
                  </div>
                  <div class="col-lg-3 mb-3">
                    <label for="date">Date</label>
                    <input type="date" class="form-control" id="date" placeholder="2000-01-01"
                           th:value="*{date}" disabled>
                  </div>
                </div>
                <div class="form-row">
                  <div class="col-lg-12 mb-3">
                    <label for="text">Text</label>
                    <textarea class="form-control" id="text" name="text" rows="5" th:text="*{text}" placeholder="Text" required></textarea>
                  </div>
                </div>
                <div class="form-row">
                  <div class="col-lg-6 mb-3">
                    <label for="uploadfile">File</label>
                    <div class="custom-file" th:if="${isNew} == true">
                      <input type="file" class="custom-file-input" id="uploadfile" name="uploadfile" required>
                      <label class="custom-file-label" for="uploadfile">Choose file...</label>
                    </div>
                    <input th:if="${isNew} == false" type="text" class="form-control" id="uploadfile" placeholder="File" th:value="*{path} + *{file}" disabled>
                  </div>
                  <div class="col-lg-3 mb-3"></div>
                  <div class="col-lg-3 mb-3">
                    <label for="user">User</label>
                    <input type="text" class="form-control" id="user" placeholder="User" th:value="*{user.username}" disabled>
                  </div>
                </div>
                <br>
                <button class="btn btn-primary" type="submit">Save</button>
                <a th:href="@{/web/home}">
                  <button class="btn btn-secondary" type="button">Cancel</button>
                </a>
                <div class="float-right">
                  <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal">
                    Delete
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="col-xl-3 d-flex align-items-stretch" style="padding-top: 2em">
          <div class="card" style="width: 100%">
            <div class="card-header">
              <ul class="nav nav-pills card-header-pills">
                <li class="nav-item">
                  <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Tags</a>
                </li>
                <li class="nav-item dropdown">
                  <a th:class="'nav-link dropdown-toggle' + (${isNew} == true ? ' disabled' : '')" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Add Tag</a>
                  <div class="dropdown-menu">
                    <th:block th:each="tag : ${tags}" th:if="${isNew} != true">
                      <a class="dropdown-item" th:href="@{/web/document/addTag/} + ${document.id} + '/'+ ${tag.tag}"><span
                              th:class="'badge badge-pill ' + ${tag.color}"
                              th:text="${tag.tag}"></span></a>
                    </th:block>
                  </div>
                </li>
              </ul>
            </div>
            <div class="card-body">
              <div th:if="${tag_message != null}" th:utext="${tag_message}" class="alert alert-success" role="alert">
              </div>
              <div th:if="${tag_error != null}" th:utext="${tag_error}" class="alert alert-danger" role="alert">
              </div>
              <div class="table-responsive-md">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th scope="col">Tag</th>
                      <th scope="col">Insdate</th>
                      <th scope="col">Delete</th>
                    </tr>
                  </thead>
                  <tbody>
                  <th:block th:each="tag : ${document.tags}">
                    <tr>
                      <td><span th:class="'badge badge-pill ' + ${tag.color}"
                              th:text="${tag.tag}"></span></td>
                      <td th:text="${tag.date}"></td>
                      <td><a th:href="@{/web/document/deleteTag/} + ${document.id} + '/'+ ${tag.tag}">
                        <button class="btn  btn-danger btn-sm">Delete</button>
                      </a></td>
                    </tr>
                  </th:block>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Delete</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Soll der Datensatz und das Dokument wirklich gelöscht werden?
          </div>
          <form th:action="@{/web/document/delete/} + ${document.id}" method="POST">
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-danger">Delete</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  
  </body>
  <script src="../../lib/js/jquery.js" th:src="@{~/lib/js/jquery.js}"></script>
  <script src="../../lib/js/popper.js" th:src="@{~/lib/js/popper.js}"></script>
  <script src="../../lib/js/bootstrap.min.js" th:src="@{~/lib/js/bootstrap.min.js}"></script>

  <script>
      // Add the following code if you want the name of the file appear on select
      $(".custom-file-input").on("change", function() {
          var fileName = $(this).val().split("\\").pop();
          $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
      });
  </script>

</html>