<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html>
  <head>
    <meta charset="UTF-8">
    <title>MyDMS</title>
    <link rel="stylesheet" type="text/css" media="all"
          href="../../lib/css/bootstrap.min.css" th:href="@{~/lib/css/bootstrap.min.css}"/>
    <style>
      .v-center {
        display: flex;
        align-items: center;
      }
    </style>
  </head>
  <body>

  <!--BEGIN NAV-->
  <div th:replace="fragments/header :: header">&nbsp;</div>
  <!--END NAV-->

    <div class="container" style="max-width: 100%;">
      <div class="row">
        <div class="col-xl-9 d-flex align-items-stretch" style="padding-top: 2em">
          <div class="card" style="width: 100%">
            <div class="card-header">
              <ul class="nav nav-pills card-header-pills">
                <li class="nav-item">
                  <a class="nav-link active" href="#">Download</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Blank</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Actions</a>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Andere aktion</a>
                  </div>
                </li>
              </ul>
            </div>
            <div class="card-body">
              <div th:if="${message != null}" th:utext="${message}" class="alert alert-success" role="alert">
              </div>
              <div th:if="${error != null}" th:utext="${error}" class="alert alert-danger" role="alert">
              </div>
              <form th:action="@{/web/document/update/} + ${document.id}" enctype="multipart/form-data" method="POST">
                <div class="form-row">
                  <div class="col-lg-4 mb-3">
                    <label for="number">Number</label>
                    <input type="text" class="form-control" id="number" th:value="${document.number}" disabled>
                  </div>
                  <div class="col-lg-4 mb-3">
                    <label for="type">Type</label>
                    <input type="text" class="form-control" id="type" th:value="${document.type?.name}" disabled>
                  </div>
                  <div class="col-lg-4 mb-3">
                    <label for="sender">Sender</label>
                    <input type="text" class="form-control" id="sender" th:value="${document.sender?.name}" disabled>
                  </div>
                </div>
                <div class="form-row">
                  <div class="col-lg-9 mb-3">
                    <label for="title">Title</label>
                    <input type="text" class="form-control " id="title" name="title" placeholder="Title" th:value="${document.title}" required>
                  </div>
                  <div class="col-lg-3 mb-3">
                    <label for="date">Date</label>
                    <input type="date" class="form-control" id="date" placeholder="2000-01-01"
                           th:value="${document.date}" disabled>
                  </div>
                </div>
                <div class="form-row">
                  <div class="col-lg-12 mb-3">
                    <label for="text">Text</label>
                    <input type="text" class="form-control" id="text" name="text" placeholder="Text" th:value="${document.text}" required>
                  </div>
                </div>
                <div class="form-row">
                  <div class="col-lg-6 mb-3">
                    <label for="uploadfile">File</label>
                    <div class="custom-file">
                      <input type="file" class="custom-file-input" id="uploadfile" name="uploadfile" required>
                      <label class="custom-file-label" for="uploadfile">Choose file...</label>
                    </div>
                  </div>
                  <div class="col-lg-3 mb-3"></div>
                  <div class="col-lg-3 mb-3">
                    <label for="user">User</label>
                    <input type="text" class="form-control" id="user" placeholder="User" th:value="${document.user.username}" disabled>
                  </div>
                </div>
                <br>
                <button class="btn btn-primary" type="submit">Save</button>
                <a th:href="@{/web/senders}">
                  <button class="btn btn-secondary" type="button">Cancel</button>
                </a>
                <div class="float-right">
                  <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal">
                    Delete
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="col-xl-3 d-flex align-items-stretch" style="padding-top: 2em">
          <div class="card" style="width: 100%">
            <div class="card-header">
              <ul class="nav nav-pills card-header-pills">
                <li class="nav-item">
                  <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Tags</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Add Tag</a>
                  <div class="dropdown-menu">
                    <th:block th:each="tag : ${tags}">
                      <a class="dropdown-item" th:href="@{/web/document/addTag/} + ${document.id} + '/'+ ${tag.tag}" th:text="${tag.tag}"></a>
                    </th:block>
                  </div>
                </li>
              </ul>
            </div>
            <div class="card-body">
              <div th:if="${tag_message != null}" th:utext="${tag_message}" class="alert alert-success" role="alert">
              </div>
              <div th:if="${tag_error != null}" th:utext="${tag_error}" class="alert alert-danger" role="alert">
              </div>
              <div class="table-responsive-md">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th scope="col">Tag</th>
                      <th scope="col">Insdate</th>
                      <th scope="col">Delete</th>
                    </tr>
                  </thead>
                  <tbody>
                  <th:block th:each="tag : ${document.tags}">
                    <tr>
                      <td th:text="${tag.tag}"></td>
                      <td th:text="${tag.date}"></td>
                      <td><a th:href="@{/web/document/deleteTag/} + ${document.id} + '/'+ ${tag.tag}">
                        <button class="btn  btn-danger btn-sm">Delete</button>
                      </a></td>
                    </tr>
                  </th:block>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Delete</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Soll der Datensatz und das Dokument wirklich gelöscht werden?
          </div>
          <form th:action="@{/web/document/delete/} + ${document.id}" method="POST">
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-danger">Delete</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  
  </body>
  <script src="../../lib/js/jquery.js" th:src="@{~/lib/js/jquery.js}"></script>
  <script src="../../lib/js/popper.js" th:src="@{~/lib/js/popper.js}"></script>
  <script src="../../lib/js/bootstrap.min.js" th:src="@{~/lib/js/bootstrap.min.js}"></script>
</html>