<html>
  <head>
    <meta charset="UTF-8">
    <title>MyDMS</title>
    <link rel="stylesheet" href="lib/css/bootstrap.min.css">
  </head>
  <body>

    <!--BEGIN NAV-->

    <!--END NAV-->

    <!--BEGIN LIST-->
    <div class="container" style="padding-top: 2em;">
      <div class="row">
        <div class="col-sm-12">
          <div class="card">
            <div class="card-header">
              <ul class="nav nav-pills card-header-pills">
                <li class="nav-item">
                  <a class="nav-link active" href="#">New Type</a>
                </li>
              </ul>
            </div>
            <div class="card-body">
              <div class="table-responsive-md">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th scope="col">Short</th>
                      <th scope="col">Type</th>
                      <th scope="col">Text</th>
                      <th scope="col">User</th>
                      <th scope="col">Date</th>
                      <th scope="col">Open</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">R</th>
                      <td>Rechnung</td>
                      <td>Für Rechnungen gedacht</td>
                      <td>mschoeffel</td>
                      <td>21.02.2019</td>
                      <td><a href="#"><button class="btn btn-primary btn-sm">Open</button></a></td>
                    </tr>
                    <tr>
                      <th scope="row">B</th>
                      <td>Blanko</td>
                      <td>Für Blanko gedacht</td>
                      <td>mschoeffel</td>
                      <td>21.02.2019</td>
                      <td><a href="#"><button class="btn btn-primary btn-sm">Open</button></a></td>
                    </tr>
                    <tr>
                      <th scope="row">K</th>
                      <td>Konto</td>
                      <td>Für Konto gedacht</td>
                      <td>mschoeffel</td>
                      <td>21.02.2019</td>
                      <td><a href="#"><button class="btn btn-primary btn-sm">Open</button></a></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--END LIST-->
  
  </body>
  <script src="lib/js/jquery.js"></script>
  <script src="lib/js/popper.js"></script>
  <script src="lib/js/bootstrap.min.js"></script>
</html>