<html>
  <head>
    <meta charset="UTF-8">
    <title>MyDMS</title>
    <link rel="stylesheet" href="lib/css/bootstrap.min.css">
  </head>
  <body>

    <!--BEGIN NAV-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                New Document
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Rechnung</a>
                <a class="dropdown-item" href="#">Kontoauszug</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Tankrechnung</a>
              </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Settings
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="#">Tags</a>
                  <a class="dropdown-item" href="#">Adresses</a>
                  <a class="dropdown-item" href="#">Types</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">User</a>
                </div>
              </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">Logout</button>
          </form>
        </div>
      </nav>
    <!--END NAV-->

    <!--BEGIN LIST-->
    <div class="container" style="padding-top: 2em;">
      <div class="row">
        <div class="col-sm-12">
          <div class="card">
            <div class="card-header">
              <ul class="nav nav-pills card-header-pills">
                <li class="nav-item">
                  <a class="nav-link active" href="#">New Type</a>
                </li>
              </ul>
            </div>
            <div class="card-body">
              <div class="table-responsive-md">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th scope="col">Short</th>
                      <th scope="col">Type</th>
                      <th scope="col">Text</th>
                      <th scope="col">User</th>
                      <th scope="col">Date</th>
                      <th scope="col">Open</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">R</th>
                      <td>Rechnung</td>
                      <td>Für Rechnungen gedacht</td>
                      <td>mschoeffel</td>
                      <td>21.02.2019</td>
                      <td><a href="#"><button class="btn btn-primary btn-sm">Open</button></a></td>
                    </tr>
                    <tr>
                      <th scope="row">B</th>
                      <td>Blanko</td>
                      <td>Für Blanko gedacht</td>
                      <td>mschoeffel</td>
                      <td>21.02.2019</td>
                      <td><a href="#"><button class="btn btn-primary btn-sm">Open</button></a></td>
                    </tr>
                    <tr>
                      <th scope="row">K</th>
                      <td>Konto</td>
                      <td>Für Konto gedacht</td>
                      <td>mschoeffel</td>
                      <td>21.02.2019</td>
                      <td><a href="#"><button class="btn btn-primary btn-sm">Open</button></a></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--END LIST-->
  
  </body>
  <script src="lib/js/jquery.js"></script>
  <script src="lib/js/popper.js"></script>
  <script src="lib/js/bootstrap.min.js"></script>
</html>